{
  "extends": [
    "arnellebalane",
    "arnellebalane/rules/plugins/vue"
  ],

  "plugins": [
    "vue"
  ],

  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },

  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },

  "overrides": [{
    "files": ["backend/**/*.js"],

    "env": {
      "browser": false
    }
  }]
}
