<!doctype html>
<html lang="en">
    <head>
        <meta chartset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>snippets</title>

        <style>
            body {
                margin: 0;
                font-family: monospace;
                font-size: 14px;
                color: #333;
            }

            code, pre {
                display: block;
            }

            code {
                padding: 24px;
            }

            pre {
                margin: 0;
            }
        </style>
    </head>

    <body>
        <code>
            <pre>{{ snippet.body }}</pre>
        </code>
    </body>
</html>
