*.js
!jest.config.js
*.d.ts
/node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

!functions/heartbeat-canary/nodejs/node_modules/index.js
!functions/heartbeat-canary-api/nodejs/node_modules/index.js
