*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    --text-inverted: #1d1f21;
    --bg-primary: #1d1f21;
    --bg-inverted: #c5c8c6;

    font-size: 62.5%;
}

body {
    min-height: 100vh;
    font-family: monospace;
    font-size: 1.4rem;
    line-height: 1.8rem;
    background-color: var(--bg-primary);
}
